{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class='con'>
        <div class='window'>
            <div class='order-info'>
                <div class='order-info-content'>
                    <h2>Order Summary</h2>
                    <div class='line'></div>
                    <img class="img-fluid"
                         src="{{ asset('images/' ~ (book.getImage())) }}" style="height: 70%; width: 100%; ">
                    <div class='line'></div>
                    <span style='float:left;'>
                             <div><strong>Name:</strong></div>
                             <div><strong>Author:</strong></div>
                        <strong>Total:</strong>
                    </span>
                    <span style='float:right; text-align:right;'>
                            <div>{{ book.name }}</div>
                            <div>{{ book.author }}</div>
                        Rs {{ book.price }}
                    </span>
                </div>
            </div>
            <div class='credit-info'>
                <div class='credit-info-content'>
                    <div class="col-md-12">
                        <legend><h2 class="ui header">Place Order</h2></legend>
                        <div class="ui segment">
                            <div class="ui form">
                                {{ form_start(form,{'atrr':{novalidate: 'novalidate'}}) }}
                                {% for field in form %}
                                    {% if field.vars.name != '_token' %}
                                        <div class="field">
                                            <h4 style="padding-top: 20px; padding-bottom: 0">{{ form_label(field) }}</h4>
                                            {{ form_widget(field) }}
                                            {{ form_errors(field) }}
                                        </div>
                                    {% endif %}
                                {% endfor %}<br/>
                                <button class="fluid positive ui button" type="submit">Place order</button><br>
                                <button class="fluid negative ui button" type="submit">
                                    <a href="{{ path('user_home') }}" style="color: white">Cancel</a>
                                </button>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
