{% extends 'base.html.twig' %}

{% block title %}API{% endblock %}

{% block body %}
    {% include 'partials/api_navbar.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {% for n in news %}
                    <div class="ui divided items" style="padding: 10px 10px 10px 10px">
                        <div class="item">
                            <div class="image">
                                <img src="{{ asset('images/' ~ (n.getUrlToImage())) }}"
                                     alt="Focus Lab">
                            </div>
                            <div class="content">
                                <a class="header">{{ n.title }}</a>
                                <div class="meta">
                                    <span class="cinema">{{ n.author }}</span>
                                    <span class="cinema">{{ n.publishedAt|date("d F Y H:i:s") }}</span>
                                </div>
                                <div class="description">
                                    <p>{{ n.description }}</p>
                                </div>
                                <div class="extra">

                                        <a href="{{ n.url }}"> Read More</a>
                                        <i class="right chevron icon"></i>

                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}